# Basic Mamba CI pipeline on top of CCTBX

name: CI pipeline on Mamba

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # run daily to ensure that changes to dependenices are not breaking tests
  schedule:
    - cron: "30 21 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -leo pipefail {0} {0}

    steps:
      - name: checkout code
        uses: actions/checkout@v5

      - name: summary
        run: |
	touch test.dat
	echo """ ARG   0.044   0.007   ARG A 106
 TYR   0.023   0.008   TYR B  73
 PHE   0.046   0.014   PHE A  93
 TRP   0.071   0.018   TRP B  70
 HIS   0.005   0.002   HIS A  45"""  >> $GITHUB_STEP_SUMMARY

